

@import url("https://fonts.googleapis.com/css?family=Handlee");
.items img {
  width:250px;
  height: 250px;
  margin: 2%;
  margin-top: 2.5%;
  display: inline-block;
  float: left;
  border-radius: 51px;
}

.items img:hover{
  cursor: context-menu;
}

.modalsize h1 {
  font-family: "handlee", cursive;
}

.modalsize h1, p{
  text-align: center;
  color: white;
}

.modalsize {
  margin-top: 30px;
  position: relative;
  width: 600px;
  height: auto;
  background-color: darkgrey;
  padding-top: 30px;
  padding-bottom: 30px;
}